# Network configuration file
# 
# For each host its informal name, as well as its location in the network must
# be listed.
#
# [name], [hostname], [port number]
#

# Alice, localhost, 8811
Repeater1, localhost, 8006
# Bob, localhost, 8812
# Charlie, localhost, 8803


